<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type"  content="text/html" charset="UTF-8">
    <title>Study</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="css/study.css" />
    <script src="js/jquery-3.5.0.min.js" type="application/javascript"></script>
    <script src="js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>
<div th:fragment="footer" class="footer">
    <footer>
        Copyright ©2020 study 网站程序 Spring Boot
    </footer>
</div>

</body>
</html>